h4{
  text-align: center;
}
.centerText{
    display: flex;
    justify-content: center; 
    align-items: center; 
   
    min-height: 70px;
    padding: 10px;
  }
.Hardware28{
    margin: 20px;
    display: flex;
    justify-content: center; 
  }
.textSplit{
    border: 39px solid rgb(255, 255, 255);
  }
.textSplit2{
    border: 60px solid rgb(255, 255, 255);
  }
.AboutUsPics{
  display: inline-block;
  /* height: 686px; */
  height: 250px;
  /* padding-left: 200px; */
  
}
.left{    
  text-align: left;  
}
.right{
  text-align: right;
}

.imageContainer{
  
  display:flex;
  justify-content: space-evenly;
  width: 100%;
} 

@media only screen and (max-width: 798px) {
  .imageContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }

  .AboutUsPics{
    height: auto
  }
}

body {
  overflow-x: hidden;
}