h4{
  text-align: center;
}
.centerText{
    display: flex;
    justify-content: center; 
    align-items: center; 
   
    min-height: 70px;
    padding: 40px;
  }
.Hardware28{
    margin: 20px;
    display: flex;
    justify-content: center; 
  }
.textSplit{
    border: 60px solid rgb(255, 255, 255);
  }
.AboutUsPics{
  display: inline-block;
  height: 686px;
  padding-left: 250px;
}
/* .left{    
  text-align: left;  
}
.right{
  text-align: right;
}

.imageContainer{
  
  display:flex;
  padding: 25px;
  
  margin: 25px;
} */