.basket-main {
    padding: 20px;
}

div h1 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}

.individual-item {
    border-radius: 10px;
    border: 10px grey;
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    box-shadow: 1px 1px 1px 1px grey;
}

.individual-item img {
    margin-top: 10px;
}

.image-text-container {
    display: flex;
}

.name-item-num p {
    margin-top: 5px;
}


.dot {
    height: 15px;
    width: 15px;
    background-color: #2af714;
    border-radius: 50%;
    display: inline-block;
  }

.price-stock {
    padding-right: 10px;
}

.stock-check {
    display: flex;
    align-items: center;
}

.stock-check p {
    margin-bottom: 5px;
    padding-left: 5px;
}

.all-items h1 {
    margin-bottom: 30px;
}

.all-items-container {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;

}

.checkout-container {
    border: 2px solid;
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px 5px grey;
    border-radius: 10px;
    border: 10px grey;
}

.checkout-container div, .checkout-container button {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.checkout {
    display: flex;
    align-items: center;
}

.checkout-txt {
    margin: 0;
    padding-right: 5px;
}
