body {
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.navbar-options {
    display: flex;
    gap: 20px;
}

.navbar-options a {
    text-decoration: none;
    color: black;   
}

.navbar-options a:hover {
    color: grey;
}

.navbar-login-signup {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20px;
}

.navbar-login-signup a {
    padding-left: 20px;
    text-decoration: none; 
    color: black; 
}

.navbar-options {
    display: flex;
    list-style: none;
    padding-left: 20px;
}

