body {
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
}

.navbar-options li {
    padding-left: 20px;
}

.navbar-login-signup {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-options {
    display: flex;
    list-style: none;
    padding-left: 20px;
}