.Welcome {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 330px;
  padding: 10px;
}

productRedirect{ 
  display: flex;
  justify-content: center; 
  align-items: center;
  font-family: "Bebas Neue", arial;
  font-weight: 400;
  color: white;
  text-decoration: none;
  padding: 3px 18px;
  background-color: rgba(9, 6, 8, 0.9);
  border: 0;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: all 1.3s;
  width: 230px;
  margin: 0 auto;
}

productRedirect:hover {
  background-color: rgb(170, 170, 170, 0.8);
}
  
.ViewProducts{
  font-size: 20px;
  display: flex;
  
  justify-content: center; 
}


.product{
  border: 39px solid rgb(255, 255, 255);
}
 
 